<p id="notice"><%= notice %></p>

<p>
  <strong>Invoicenumber:</strong>
  <%= @invoice.InvoiceNumber %>
</p>

<p>
  <strong>Username:</strong>
  <%= @invoice.username %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @invoice.customerid %>
</p>

<p>
  <strong>Addressid:</strong>
  <%= @invoice.addressid %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @invoice.productid %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
