<%= form_with(model: tablet, local: true) do |form| %>
  <% if tablet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tablet.errors.count, "error") %> prohibited this tablet from being saved:</h2>

      <ul>
        <% tablet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :OS %>
    <%= form.text_field :OS %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
