<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @vendor_product.productid %>
</p>

<p>
  <strong>Producttype:</strong>
  <%= @vendor_product.producttype %>
</p>

<%= link_to 'Edit', edit_vendor_product_path(@vendor_product) %> |
<%= link_to 'Back', vendor_products_path %>
