<%= form_with(model: tv, local: true) do |form| %>
  <% if tv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tv.errors.count, "error") %> prohibited this tv from being saved:</h2>

      <ul>
      <% tv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :TVid %>
    <%= form.number_field :TVid, id: :tv_TVid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tv_name %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :tv_version %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :tv_model %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor, id: :tv_vendor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
