<%= form_with(model: phone, local: true) do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Phoneid %>
    <%= form.number_field :Phoneid, id: :phone_Phoneid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :phone_name %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :phone_version %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :phone_model %>
  </div>

  <div class="field">
    <%= form.label :OS %>
    <%= form.text_field :OS, id: :phone_OS %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor, id: :phone_vendor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
