<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaseorder:</strong>
  <%= @vendor_po.PurchaseOrder %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @vendor_po.productid %>
</p>

<%= link_to 'Edit', edit_vendor_po_path(@vendor_po) %> |
<%= link_to 'Back', vendor_pos_path %>
