<p id="notice"><%= notice %></p>

<p>
  <strong>Vendorname:</strong>
  <%= @vendor.vendorname %>
</p>

<p>
  <strong>Vendorid:</strong>
  <%= @vendor.Vendorid %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
