<%= form_with(model: laptop, local: true) do |form| %>
  <% if laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laptop.errors.count, "error") %> prohibited this laptop from being saved:</h2>

      <ul>
      <% laptop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :laptop_name %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :laptop_version %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :laptop_model %>
  </div>

  <div class="field">
    <%= form.label :OS %>
    <%= form.text_field :OS, id: :laptop_OS %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor, id: :laptop_vendor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
