<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @username.username %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @username.customerid %>
</p>

<p>
  <strong>Password:</strong>
  <%= @username.password %>
</p>

<%= link_to 'Edit', edit_username_path(@username) %> |
<%= link_to 'Back', usernames_path %>
